<footer class='c-footer'>
  <div class='o-grid'>

    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m {{#unless @labs.subscribers}} o-grid__col--2-4-l {{/unless}} {{#if @labs.subscribers}} o-grid__col--1-3-l {{/if}}'>
      <p class='u-font-medium'>Tags</p>

      {{#get 'tags' limit='all'}}
        <ul class='c-footer-list o-plain-list'>
          {{#foreach tags}}
            <li><a href='/tag/{{slug}}'>{{name}}</a></li>
          {{/foreach}}
        </ul>
      {{/get}}
    </div>

    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m {{#unless @labs.subscribers}} o-grid__col--2-4-l {{/unless}} {{#if @labs.subscribers}} o-grid__col--1-3-l {{/if}}'>
      <p class='u-font-medium'>Navigation</p>

      <ul class='c-footer-list o-plain-list'>
        {{ navigation }}
      </ul>
    </div>

    {{#if @labs.subscribers}}
      <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l'>
        <p class='u-font-medium'>Newsletter</p>

        {{  subscribe_form
            form_class='c-subscribe-form'
            input_class='c-subscribe-form__input'
            input_lebel='c-subscribe-form__lebel'
            placeholder='Email'
            button_class='c-subscribe-form__btn c-btn c-btn--active c-btn--small c-btn--full'
        }}
      </div>
    {{/if}}

    <div class='o-grid__col o-grid__col--full'>
      <div class='c-footer__bottom'>
        <div class='o-grid'>

          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m'>
            <div class='u-font-tiny c-footer__copyright'>

              &copy; {{ date format='YYYY' }} {{ @blog.title }} - Published with <a href='https://ghost.org' target='_blank' rel='noopener'>Ghost</a>
            </div>
          </div>

          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m'>
            <ul class='c-social-icons o-plain-list'>
              {{#if @blog.twitter}}
                <li>
                  <a href='{{ twitter_url }}' aria-label='Twitter' target='_blank' rel='noopener'>
                    <span data-icon='ei-sc-twitter' data-size='s'></span>
                  </a>
                </li>
              {{/if}}
              {{#if @blog.facebook}}
                <li>
                  <a href='{{ facebook_url }}' aria-label='Facebook' target='_blank' rel='noopener'>
                    <span data-icon='ei-sc-facebook' data-size='s'></span>
                  </a>
                </li>
              {{/if}}
              <li>
                <a href='#' aria-label='Instagram' target='_blank' rel='noopener'>
                  <span data-icon='ei-sc-instagram' data-size='s'></span>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </div>
</footer>
